{{- $isLocalMachine :=  hasPrefix "mortalhappiness-" .chezmoi.hostname -}}

umask = 0o22

[data]
  isLocalMachine = {{ $isLocalMachine | toString -}}
  {{- if not $isLocalMachine }}
  gitSSHSigningKey = ""
  {{- end }}
